*.haux
*.aux
*.html
*.txt
*.toc
*.htoc
*.log
*.bbl
*.fls
*.fdb_latexmk
*.dvi
*.hind
*.bbl
*.image.tex
*.ilg
*.blg
*.info
tmp*.png
env*.png
graphic[sx]*.png
*motif*.svg
comment.cut
tmp.*
HF.ps
*.css
*.idx
*.ind
*.hbbl
smile*.png
tenv.tex
tsmile.tex
